aiofiles==25.1.0
aioice==0.10.2
aiortc==1.14.0
av==16.1.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.9
cryptography==50.0.0
curl_cffi==0.16.0
dnspython==2.8.0
google-crc32c==1.8.0
idna==3.18
ifaddr==0.2.0
livekit==1.1.14
lz4==4.4.5
numpy==2.0.2
packaging==26.3
protobuf==6.33.6
pycparser==3.0
pycryptodome==3.23.0
pyee==13.0.1
pylibsrtp==1.0.0
pyOpenSSL==26.4.0
requests==2.34.2
types-protobuf==6.32.1.20251210
typing_extensions==4.16.0
unitree-webrtc-connect==2.1.2
urllib3==2.7.0
wasmtime==47.0.1
